@model IEnumerable<CalendarioFutbol.DataAccess.Equipos>

@{
    ViewBag.Title = "Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Equipos Registrados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eliminado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.Eliminado, htmlAttributes: new {@class="form-control",  @disabled = "disabled"})
        </td>
        <td>
            @Html.ActionLink("Editar equipo", "Edit", new { id = item.EquipoID }) |
            @Html.ActionLink("Agregar Jugadores", "index", "EquiposJugadores", new { id = item.EquipoID }, null) |
            @Html.ActionLink("Detalles", "Details", new { id = item.EquipoID }) |
            @Html.ActionLink("Dar de Baja", "Delete", new { id = item.EquipoID })
        </td>
    </tr>
}

</table>
